{% extends 'base.html' %}
{% block body %}
<div id="column1" style="float:left; margin:0; width:40%;">
    
    <h1>Matchs en simple</h1>
    <table>
        {% for m in simple_matchs %}
        <tr>
            <td {% if m.winner == 1 %} style='font-weight:bold'{% endif %} >
                <a href="{% url 'joueur' m.domicile.id %}">{{m.domicile.pseudo}}</a>
            </td>
            <td>{{m.buts_domicile}}</td>
            <td>{{m.buts_exterieur}}</td>
            <td {% if m.winner == 0 %} style='font-weight:bold'{% endif %} >
                <a href="{% url 'joueur' m.exterieur.id %}">{{m.exterieur.pseudo}}</a>
            </td>
            <td>{{m.points}}</td>
            <td>{{m.date | date:'d/m/y'}}</td>
        </tr>
        {% endfor %}
    </table>

</div>

<div id="column2" style="float:left; margin-left:15%;width:40%;">

<h1>Matchs en double</h1>

</div>
{% endblock %}
