{% extends 'base.html' %}
{% block body %}

<div id="column1" style="float:left; margin:0; width:40%;">
    
    <h1>Simple</h1>
    <table>
        <tr>
            <th>Rang</th>
            <th>Joueur</th>
            <th>Points</th>
            <th>Matchs</th>
            <th>V</th>
            <th>N</th>
            <th>D</th>
            <th>Diff</th>
            <th>BP</th>
            <th>BC</th>
        </tr>
        {% for j in simple_ranking %}
        <tr>
            <td>{{ j.simple_rang }}</td>
            <td><a class='joueur' href="{% url 'joueur' j.id %}">{{j.pseudo}}</a></td>
            <td>{{j.simple_score}}</td>
            <td>{{j.simple_matchs}}</td>
            <td>{{j.simple_victoires}}</td>
            <td>{{j.simple_nuls}}</td>
            <td>{{j.simple_defaites}}</td>
            <td>{{j.simple_diff}}</td>
            <td>{{j.simple_buts_pour}}</td>
            <td>{{j.simple_buts_contre}}</td>
        </tr>
        {% endfor %}
    </table>
 
    <h1>Ajouter un match</h1>

    {% if request.user.is_authenticated %}

    {% if message %}<p><strong>{{ message }}</strong></p>{% endif %}
    <form action="{% url 'traiter_match' %}" method='post'>
        {% csrf_token %}
        
        <table>
            <tr>
                <td><label for="adv">Adversaire</label></td>
                <td><select name="adv">
                    {% for j in simple_ranking %}
                        <option value="{{j.id}}">{{j.pseudo}}</option>
                    {% endfor %}
                </select></td>
            </tr>
            <tr>
                <td>Score</td>
                <td>
                    <input name="score_1" min="0" max="30" type="number" value="0"/>
                    -
                    <input name="score_2" min="0" max="30" type="number" value="0"/>
                </td>
            </tr>
        </table>

        <br/><input type="submit" value="Valider"/><br/><br/>
	</form>

    {% else %}
        Non connecté.
    {% endif %}

    <h1>Derniers matchs en simple</h1>
    <table>
        {% for m in simple_matchs %}
        <tr>
            <td {% if m.winner == 1 %} style='font-weight:bold'{% endif %} >
                <a class="joueur" href="{% url 'joueur' m.domicile.id %}">{{m.domicile.pseudo}}</a>
            </td>
            <td>{{m.buts_domicile}}</td>
            <td>{{m.buts_exterieur}}</td>
            <td {% if m.winner == 0 %} style='font-weight:bold'{% endif %} >
                <a class='joueur' href="{% url 'joueur' m.exterieur.id %}">{{m.exterieur.pseudo}}</a>
            </td>
            <td>{{m.points}}</td>
            <td>{{m.date | date:'d/m/y'}}</td>
        </tr>
        {% endfor %}
    </table>
</div>

<div id="column2" style="float:left; margin-left:15%;width:40%;">
<h1>Double</h1>
<table>
    <tr>
        <th>Rang</th>
        <th>Joueur</th>
        <th>Points</th>
        <th>Matchs</th>
        <th>V</th>
        <th>N</th>
        <th>D</th>
        <th>Diff</th>
        <th>BP</th>
        <th>BC</th>
    </tr>
    {% for j in double_ranking %}
    <tr>
        <td>{{ j.double_rang }}</td>
        <td><a class='joueur' href="{% url 'joueur' j.id %}">{{j.pseudo}}</a></td>
        <td>{{j.double_score}}</td>
        <td>{{j.double_matchs}}</td>
        <td>{{j.double_victoires}}</td>
        <td>{{j.double_nuls}}</td>
        <td>{{j.double_defaites}}</td>
        <td>{{j.double_diff}}</td>
        <td>{{j.double_buts_pour}}</td>
        <td>{{j.double_buts_contre}}</td>
    </tr>
    {% endfor %}
    </table>

    <h1>Ajouter un match</h1>

    {% if request.user.is_authenticated %}

    {% if message %}<p><strong>{{ message }}</strong></p>{% endif %}
    <form action="{% url 'traiter_match_double' %}" method='post'>
        {% csrf_token %}

        <table>
            <tr>
                <td><label for="co">Coéquipier</label></td>
                <td><select name="co">
                    {% for j in double_ranking %}
                        <option value="{{j.id}}">{{j.pseudo}}</option>
                    {% endfor %}
                </select></td>
            </tr>
            <tr>
                <td><label for="adv_1">Adversaire</label></td>
                <td><select name="adv_1">
                    {% for j in double_ranking %}
                        <option value="{{j.id}}">{{j.pseudo}}</option>
                    {% endfor %}
                </select></td>
            </tr>
            <tr>
                <td><label for="adv_2">Adversaire</label></td>
                <td><select name="adv_2">
                    {% for j in double_ranking %}
                        <option value="{{j.id}}">{{j.pseudo}}</option>
                    {% endfor %}
                </select></td>
            </tr>
            <tr>
                <td>Score</td>
                <td>
                    <input name="score_1" min="0" max="30" type="number" value="0"/>
                    -
                    <input name="score_2" min="0" max="30" type="number" value="0"/>
                </td>
            </tr>
        </table>

        <br/><input type="submit" value="Valider"/><br/><br/>
	</form>

    {% else %}
        Non connecté.
    {% endif %}

    <h1>Derniers matchs en double</h1>
    <table>
        {% for m in double_matchs %}
        <tr>
            <td {% if m.winner == 1 %} style='font-weight:bold'{% endif %} >
                <a class="joueur" href="{% url 'joueur' m.domicile_1.id %}">{{m.domicile_1.pseudo}}</a>
            </td>
            <td {% if m.winner == 1 %} style='font-weight:bold'{% endif %} >
                <a class="joueur" href="{% url 'joueur' m.domicile_2.id %}">{{m.domicile_2.pseudo}}</a>
            </td>
            <td>{{m.buts_domicile}}</td>
            <td>{{m.buts_exterieur}}</td>
            <td {% if m.winner == 0 %} style='font-weight:bold'{% endif %} >
                <a class='joueur' href="{% url 'joueur' m.exterieur_1.id %}">{{m.exterieur_1.pseudo}}</a>
            </td>
            <td {% if m.winner == 0 %} style='font-weight:bold'{% endif %} >
                <a class='joueur' href="{% url 'joueur' m.exterieur_2.id %}">{{m.exterieur_2.pseudo}}</a>
            </td>
            <td>{{m.points}}</td>
            <td>{{m.date | date:'d/m/y'}}</td>
        </tr>
        {% endfor %}
    </table>
    </div>
{% endblock %}
