{% extends 'base.html' %}
{% block body %}
<div id="column1" style="float:left; margin:0; width:40%;">
    
    <h1>Simple</h1>
    <table>
        <tr>
            <th>Rang</th>
            <th>Joueur</th>
            <th>Points</th>
            <th>Matchs</th>
            <th>V</th>
            <th>N</th>
            <th>D</th>
            <th>Diff</th>
            <th>BP</th>
            <th>BC</th>
        </tr>
        {% for j in simple_ranking %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td><a class='joueur' href="{% url 'joueur' j.id %}">{{j.pseudo}}</a></td>
            <td>{{j.simple_score}}</td>
            <td>{{j.simple_matchs}}</td>
            <td>{{j.simple_victoires}}</td>
            <td>{{j.simple_nuls}}</td>
            <td>{{j.simple_defaites}}</td>
            <td>{{j.simple_diff}}</td>
            <td>{{j.simple_buts_pour}}</td>
            <td>{{j.simple_buts_contre}}</td>
        </tr>
        {% endfor %}
    </table>

    <h1>Les derniers matchs</h1>
    <table>
        {% for m in simple_matchs %}
        <tr>
            <td {% if m.winner == 1 %} style='font-weight:bold'{% endif %} >
                <a class="joueur" href="{% url 'joueur' m.domicile.id %}">{{m.domicile.pseudo}}</a>
            </td>
            <td>{{m.buts_domicile}}</td>
            <td>{{m.buts_exterieur}}</td>
            <td {% if m.winner == 0 %} style='font-weight:bold'{% endif %} >
                <a class='joueur' href="{% url 'joueur' m.exterieur.id %}">{{m.exterieur.pseudo}}</a>
            </td>
            <td>{{m.points}}</td>
            <td>{{m.date | date:'d/m/y'}}</td>
        </tr>
        {% endfor %}
    </table>
    
    <h1>Ajouter un match</h1>

    {% if request.user.is_authenticated %}

    {% if message %}<p><strong>{{ message }}</strong></p>{% endif %}
    <form action="{% url 'traiter_match' %}" method='post'>
        {% csrf_token %}

        <label for="adv">Adversaire :</label>
        <select name="adv">
            {% for j in simple_ranking %}
                <option value="{{j.id}}">{{j.pseudo}}</option>
            {% endfor %}
        </select>
        <br/>

        Score :
        <input name="score_1" min="0" max="30" type="number" value="0"/>
        -
        <input name="score_2" min="0" max="30" type="number" value="0"/>


        <br/><input type="submit" value="Valider"/>
	</form>


    {% else %}
        Non connecté.
    {% endif %}

</div>

<div id="column2" style="float:left; margin-left:15%;width:40%;">
<h1>Double</h1>
<table>
    <tr>
        <th>Rang</th>
        <th>Joueur</th>
        <th>Points</th>
        <th>Matchs</th>
        <th>V</th>
        <th>N</th>
        <th>D</th>
        <th>Diff</th>
        <th>BP</th>
        <th>BC</th>
    </tr>
    {% for j in double_ranking %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td><a class='joueur' href="{% url 'joueur' j.id %}">{{j.pseudo}}</a></td>
        <td>{{j.double_score}}</td>
        <td>{{j.double_matchs}}</td>
        <td>{{j.double_victoires}}</td>
        <td>{{j.double_nuls}}</td>
        <td>{{j.double_defaites}}</td>
        <td>{{j.double_diff}}</td>
        <td>{{j.double_buts_pour}}</td>
        <td>{{j.double_buts_contre}}</td>
    </tr>
    {% endfor %}
</table>
</div>
{% endblock %}
