{% extends 'base.html' %}
{% block body %}

<h1>Règlement</h1>

<h2>Article premier</h2>
<p>Il doit être décidé, de façon explicite, avant le début du match, si le match va compter pour le classement. Le choix de compter pour le classement doit être unanime entre les joueurs. Le gagnant (ou l'un des deux le cas échéant) loggue le match.</p>

<h2>Article second</h2>
<p>En cas de match nul à la fin du temps réglementaire, le choix est offert aux joueurs. Si tous les joueurs veulent que le résultat qui compte soit celui à la fin des prolongations, alors que cela soit. Si un seul des joueurs s'oppose, alors le match nul sera loggué par ce joueur (ou l'un de ces joueurs le cas échéant).</p>

<h2>Article troisième</h2>
<p>Il n'y a pas de contraintes sur les équipes. Cependant, deux types de choix peuvent être proposés. Le premier, commence par un simple pile ou face. L'équipe gagnante choisit une équipe, et la seconde choisit une équipe avec le même nombre d'étoiles. Le second, consiste en un choix aléatoire, avec les règles habituelles.</p>

<h2>Article quatrième</h2>
<p>Tout joueur surpris à volontairement logguer un match qui n'a pas eu lieu se verra banni du classement.</p>

<h2>Article cinquième</h2>
<p>Le classement n'est pas invariant par permutation des matchs dans le temps. Un match doit donc être loggué dans les 24h suivant le dit match, délai au-delà duquel le match est prescrit, et le perdant peut faire appel.</p>

{% endblock %}
