{% extends 'base.html' %}
{% block body %}

<h1>Règlement</h1>

<h2>Article premier : accord unanime</h2>
Il doit être décidé, de façon explicite, avant le début du match, si le match va compter pour le classement. Le choix de compter pour le classement doit être unanime entre les joueurs. Le gagnant (ou l'un des deux le cas échéant) loggue le match.

<h2>Article deuxième : de la démocratie</h2>
En cas de match nul à la fin du temps réglementaire, le choix est offert aux joueurs. Si tous les joueurs veulent que le résultat qui compte soit celui à la fin des prolongations, alors que cela soit. Si un seul des joueurs s'oppose, alors le match nul sera loggué par ce joueur (ou l'un de ces joueurs le cas échéant).

<h2>Article troisième : le choix des équipes</h2>
Il n'y a pas de contraintes sur les équipes. Cependant, deux types de choix peuvent être proposés. Le premier, commence par un simple pile ou face. L'équipe gagnante choisit une équipe, et la seconde choisit une équipe avec le même nombre d'étoiles. Le second, consiste en un choix aléatoire, avec les règles habituelles.

<h2>Article quatrième : la triche</h2>
Tout joueur surpris à volontairement logguer un match qui n'a pas eu lieu se verra banni du classement.

<h2>Article cinquième : durée de validité d'un match</h2>
Le classement n'est pas invariant par permutation des matchs dans le temps. Un match doit donc être loggué dans les 24h suivant le dit match, délai au-delà duquel le match est prescrit, et le perdant peut faire appel.

<h2>Article sixième : arrêt prématuré d'un match</h2>
Si un match est interrompu (coupure d'électricité, ragequit...), alors les règles suivantes s'appliquent, dans l'ordre :
<ol>
    <li>Si un joueur (même s'il fait partie d'une équipe de 2) a arrêté ce match volontairement, alors l'équipe adverse remporte le match sur tapis vert (3 - 0). Si le score était plus favorable à l'arrêt du match pour les vainqueurs, alors ce score est conservé.</li>
    <li>Si la coupure survient en première période : un match est loggué si, et seulement si, l'écart de buts était strictement supérieur à 3.</li>
    <li>Si la coupure survient en seconde période : le match est loggué si, et seulement si, l'écart supérieur strictement à 2 buts, ou si l'écart est strictement supérieur à 1 but et la 85e minute de jeu dépassé.</li>
</ol>

{% endblock %}
